body{
    background-color: rgb(255, 228, 170);
    width: 100%;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p,input,label,button,tr,td,th{
    font-size: 20px;
}
a{
    text-decoration: none;
}

/* width */
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.mauto{
    margin: 0 auto;
}
/* float */
.fl{
    float: left;
}
.fr{
    float: right;
}
.boxsi{
    box-sizing: border-box;
}
.ovfhid{
    overflow: hidden;
}
/* padding */
.pd-s{
    padding: 5px;
}
.pd-m{
    padding: 10px;
}
.pd-l{
    padding: 15px;
}
.pd-xl{
    padding: 20px;
}
/* margin */
.mb-s{
    margin-bottom: 20px;
}
.mb-m{
    margin-bottom: 30px;
}
.mb-l{
    margin-bottom: 40px;
}
.mb-xl{
    margin-bottom: 50px;
}

/* position */
.pstrl{
    position: relative;
}
.pstab{
    position: absolute;
}

.main-title{
    text-align: center;
}
input[type=text],input[type=password]{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px gray;
    transition: all 0.3s;
}
.btn:hover{
    box-shadow: 6px 6px 6px rgb(158, 158, 158);
    transform: translateY(-3px);
    transition: all 0.3s;
}

.gr{
    color: white;
    background-color: #006305;
}
.yl{
    color: #000;
    background-color: #ffd900;
}

.bgwhite{
    background-color: white;
}


/* Error */
.error-body{
    padding: 3px 0px;
    background-color: rgb(255, 195, 195);
    color: rgba(219, 0, 0, 0.712);
    border-radius: 5px;
    margin-bottom: 15px;
}